{
  "rules": {
    "quotes": 0,
    "no-console": 0,
  },
  "env": {
    "mocha": true,
  },
  "globals": {
    "expect": false,
    "sinon": false,
    "happen": false,
    "Hand": false,
    "process": true,
    "touchEventType": false /* defined in SpecHelper.js */
  }
}
